<?xml version="1.0"?>
<!--
/**
 * Copyright © MageDevGroup. All rights reserved.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="MageDevGroup_TypesenseSearch unit">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">../..</directory>
        </include>
        <exclude>
            <directory>../../Test</directory>
        </exclude>
    </source>
</phpunit>
